
<div class="container">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-dashboard-header__title">
                Dashboard
            </h1>
        </header>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-blue">
                    <div class="inner">
                        <h3>{{countProducts}}</h3>
                        <p> Số sản phẩm đang bán </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-mobile-alt" aria-hidden="true"></i>
                    </div>
                    <a href="/admin/product" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-green">
                    <div class="inner">
                        <h3>{{countWaitingOrders}}</h3>
                        <p> Đơn hàng chờ xử lý </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-clipboard-list" aria-hidden="true"></i>
                    </div>
                    <a href="/admin/order?state=waiting+to+confirm" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-orange">
                    <div class="inner">
                        <h3>{{countNormalUsers}}</h3>
                        <p> Số người dùng </p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                    </div>
                    <a href="/admin/user" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card-box bg-red">
                    <div class="inner">
                        <h3>{{turnoverMonth}}</h3>
                        <p> Doanh thu tháng này </p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-dollar-sign" aria-hidden="true"></i>
                    </div>
                    <a href="/admin/statistical" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <h2 class="row py-2 text-secondary">
                Top 10 sản phẩm bán chạy
            </h2>
        </div>
        <div class="row py-4">
            <table class="table table-bordered admin-table">
                <thead class="admin-table-thead">
                <tr>
                    <td class="text-center">
                        STT
                    </td>
                    <th class="text-center">
                        ID
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Thương hiệu
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Rating
                    </th>
                    <th>
                        Số lượng đã bán
                    </th>
                    <th>
                        Chi tiết
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Ảnh
                    </th>
                </tr>
                </thead>
                <tbody class="admin-table-tbody" id="tableData">
                {{#each topProducts}}
                    <tr>
                        <td class="text-center">{{sumInt @index 1}}</td>
                        <td class="text-center">{{[option.mobile.id]}}</td>
                        <td>{{[option.mobile.full_name]}}</td>
                        <td>{{[option.mobile.brand.name]}}</td>
                        <td>{{[option.mobile.price]}}</td>
                        <td>{{[option.mobile.rating]}}</td>
                        <td>{{sumQuantity}}</td>
                        <td class="text-center">
                            <a href="/admin/product/{{id}}">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>

                        <td>
                            {{[option.mobile.status]}}
                        </td>
                        <td>
                            <img src="{{picture.link}}" style="width: 50px;" />
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>