<div class="container">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-container-content-header__title">
                Thông tin User
            </h1>
        </header>
        <div class="">
            <div class="">
                <div class="row justify-content-end">
                    <div class="col-sm-4 text-center">
                        {{#ifCond normalUser.status "===" "lock" }}
                            <button type="submit" class="btn btn-success shadow-none" data-toggle="modal" data-target="#saveModal">
                                <i class="fas fa-unlock"></i>
                                Mở khóa
                            </button>
                        {{else}}
                            <button type="submit" class="btn btn-danger shadow-none" data-toggle="modal" data-target="#saveModal">
                                <i class="fas fa-lock"></i>
                                Khóa
                            </button>
                        {{/ifCond}}

                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Thông tin tài khoản
                    </h2>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-9">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 py-2">
                                        ID
                                    </div>
                                    <div class="col-lg-9 py-2">
                                        <input class="form-control shadow-none" name="id" type="text" placeholder="ID" value="{{normalUser.id}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 py-2">
                                        Username
                                    </div>
                                    <div class="col-lg-9 py-2">
                                        <input class="form-control shadow-none" name="username" type="text" placeholder="username" value="{{normalUser.username}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 py-2">
                                        Ngày tạo
                                    </div>
                                    <div class="col-lg-9 py-2">
                                        <input class="form-control shadow-none" name="created_at" type="text" placeholder="Ngày tạo" value="{{normalUser.created_at}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <div class="row align-items-center">
                                    <div class="col-lg-3 py-2">
                                        Tình trạng
                                    </div>
                                    <div class="col-lg-9 py-2">
                                        <input class="form-control shadow-none" name="status" type="text" placeholder="Tình trạng" value="{{normalUser.status}}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 align-items-center justify-content-center">
                        <div style="border: solid 1px #ccc">
                            <img class="my-auto" src="{{normalUser.avatar}}" style="width: 100%"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="row justify-content-center">
                    <h2 class="row py-4 text-secondary">
                        Thông tin cá nhân
                    </h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Họ tên
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="full_name" type="text" placeholder="{{normalUser.full_name}}" value="{{normalUser.full_name}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Số điện thoại
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="phone_number" type="number" placeholder="{{normalUser.phone_number}}" value="{{normalUser.phone_number}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="row align-items-center">
                            <div class="col-lg-3 py-2">
                                Địa chỉ
                            </div>
                            <div class="col-lg-9 py-2">
                                <input class="form-control shadow-none" name="address" type="text" placeholder="{{normalUser.address}}" value="{{normalUser.address}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<div id="saveModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn khóa tài khoản?</p>
            </div>
            <div class="modal-footer">
                <form action="/admin/user/{{normalUser.id}}/toggleLock">
                    <button id="" type="submit" class="btn btn-primary">Save</button>
                </form>
                <button id="" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
