<br class="container">
    <div class="admin-container-content">
        <header class="admin-container-content-header">
            <h1 class="row py-4 text-primary admin-container-content-header__title">
                Danh sách đơn hàng
            </h1>
        </header>
        <div class="row py-4">
            <form class="" name="filterForm">
                <div class="row align-items-start justify-content-between">
                    <div class="col-lg-10">
                        <div class="row pb-2">
                            <div class="pb-2 col-lg-3 col-md-6">
                                <div class="d-flex justify-content-between">
                                    <input name="orderId" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="ID đơn hàng"
                                        {{#if filter.orderId}}
                                           value="{{filter.orderId}}"
                                        {{/if}}
                                    >
                                </div>
                            </div>
                            <div class="pb-2 col-lg-3 col-md-6">
                                <div class="d-flex justify-content-between">
                                    <input name="customerId" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="ID khách hàng"
                                        {{#if filter.customerId}}
                                           value="{{filter.customerId}}"
                                        {{/if}}
                                    >
                                </div>
                            </div>
                            <div class="pb-2 col-lg-3 col-md-6">
                                <div class="d-flex justify-content-between">
                                    <input name="customerUsername" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Username"
                                        {{#if filter.customerUsername}}
                                           value="{{filter.customerUsername}}"
                                        {{/if}}
                                    >
                                </div>
                            </div>
                            <div class="pb-2 col-lg-3 col-md-6">
                                <div class="d-flex justify-content-between">
                                    <input name="phone" type="number" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Số điện thoại"
                                        {{#if filter.phone}}
                                           value="{{filter.phone}}"
                                        {{/if}}
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="pb-2 col-lg-4 col-md-12">
                                <div class="form-group">
                                    <label>Tạo từ ngày</label>
                                    <input name="minCreatedDate" type="date" class="mb-2 form-control shadow-none"aria-label="Text input with dropdown button"
                                        {{#if filter.minCreatedDate}}
                                           value="{{filter.minCreatedDate}}"
                                        {{/if}}
                                    >
                                </div>
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <input name="maxCreatedDate" type="date" class="mb-2 form-control shadow-none"aria-label="Text input with dropdown button"
                                        {{#if filter.maxCreatedDate}}
                                           value="{{filter.maxCreatedDate}}"
                                        {{/if}}
                                    >
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-1 d-flex justify-content-end">
                        <button id="resetBtn" type="button" class="btn btn-warning left">
                            Reset
                        </button>
                        <button id="searchBtn" type="submit" class="btn btn-primary left">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row pb-2 d-flex align-items-center justify-content-between">
                    <div class="col-lg-4 pb-2">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        Số dòng
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="d-flex justify-content-between">
                                            <input name="limit" id="limit" type="text" class="form-control shadow-none" aria-label="Text input with dropdown button" placeholder="Số dòng"
                                                {{#if pagination.limit}}
                                                   value="{{pagination.limit}}"
                                                {{/if}}
                                            >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 ">
                                <div class="row align-items-center">
                                    <div class="select-menu-group">
                                        <input type="hidden" id="filterState"
                                            {{#if filter.state}}
                                               value="{{filter.state}}"
                                            {{/if}}
                                        >
                                        <select name="state" id="state" class="form-select">
                                            <option value="0">Tất cả</option>
                                            <option value="waiting to confirm">Chờ xác nhận</option>
                                            <option value="delivering">Đang vận chuyển</option>
                                            <option value="took delivery">Đã nhận hàng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <form class="row py-4" name="deleteAllForm" id="deleteAllForm" action="">
            <table class="table table-bordered admin-table">
                <thead class="admin-table-thead">
                <tr>
                    <th>
                        <input class="form-check-input" type="checkbox" id="selectAll" name="selectAll">
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        ID Khách hàng
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Tên khách hàng
                    </th>
                    <th>
                        Số điện thoại
                    </th>
                    <th>
                        Thời gian
                    </th>
                    <th>
                        Xem chi tiết
                    </th>
                    <th>
                        Tình trạng
                    </th>
                </tr>
                </thead>
                <tbody class="admin-table-tbody" id="tableData">
                     {{#each orders}}
                    <tr>
                        <td>
                            <input class="form-check-input select-row-checkbox" type="checkbox" id="" name="deleteAll[]" value="{{id}}">
                        </td>
                        <td>
                            {{id}}
                        </td>
                         <td>
                            {{user_id}}
                        </td>
                         <td>
                            {{[user.username]}}
                        </td>
                         <td>
                            {{[user.full_name]}}
                        </td>
                        <td>
                            {{phone}}
                        </td>
                         <td>
                            {{created_at}}
                        </td>
                        <td>
                            <a href="/admin/order/{{id}}" class="link-primary text-primary text-decoration-none">
                                Chi tiết
                            </a>
                        </td>
                         <td>
                            {{state}}
                        </td>
                        
                    </tr>
                    {{/each}}

                     <script type="text/x-handlebars-template" id="tableDataTemplate">
                     \{{#each orders}}
                    <tr>
                        <td>
                            <input class="form-check-input select-row-checkbox" type="checkbox" id="" name="deleteAll[]" value="\{{id}}">
                        </td>
                        <td>
                            \{{id}}
                        </td>
                         <td>
                            \{{user_id}}
                        </td>
                         <td>
                            \{{[user.username]}}
                        </td>
                         <td>
                            \{{[user.full_name]}}
                        </td>
                        <td>
                            \{{[user.phone_number]}}
                        </td>
                         <td>
                            \{{created_at}}
                        </td>
                        <td>
                            <a href="/admin/order/\{{id}}" class="link-primary text-primary text-decoration-none">
                                Chi tiết
                            </a>
                        </td>
                         <td>
                            \{{state}}
                        </td>
                        
                    </tr>
                    \{{/each}}
                     </script>
                </tbody>
            </table>
        </form>
        <footer class="row justify-content-center">
            <nav class="col-lg-3 col-md-6 col-sm-9" aria-label="Page navigation example" id="pagination">
                {{{createPagination pagination paginationClass="pagination"}}}

                <script type="text/x-handlebars-template" id="paginationTemplate">
                    \{{{createPagination pagination paginationClass="pagination"}}}
                </script>
            </nav>
        </footer>
    </div>
</div>



{{#section 'script'}}
    <script src="/adminStyle/js/filterSelect.js"></script>
    <script src="/adminStyle/js/orderPagination.js"></script>
{{/section}}

